<%- include('../include/_header') %>

<section id="login" class="text-center">
    <main class="form-signin">
        <form action="/signup" method="POST">
            <a href="/"><img class="mb-3" src="img/logo.png" alt="Amazone" width="150" height="150"></a>
            <h1 class="h3 mb-3 fw-normal">Please Register</h1>
            <div class="form-floating">
                <input type="text" class="form-control" id="userName" name="userName" placeholder="Name" required>
                <label for="userName">Name</label>
            </div>
            <div class="form-floating">
                <input type="email" class="form-control" id="userEmail" name="userEmail" placeholder="name@mail.com" required>
                <label for="userEmail">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="Password" required>
                <label for="userPassword">Password</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Password" required>
                <label for="confirmPassword">Confirm Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
        </form>
        <div class="dropdown-divider"></div>
        <!-- <p class="form-text">Already have account?</p> -->
        <a class="dropdown-item" href="/login">Have Account? Login</a>
        
    </main>
</section>

<%- include('../include/_footer') %>