<section id="card-container">
    <div class="container">
        <div class="container featured-projects"><h2>All Products</h2></div>
        <div class="row">
            <!-- card 1 -->

            <div class="col-md-4">
                <div class="card text-center">
                    <img src="https://images.pexels.com/photos/2389476/pexels-photo-2389476.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=2&amp;w=500" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Self Driving Car</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">View<span>&rarr;</span></a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>