<form action="/cart" method="post">
    <a href="#" class="btn btn-primary">Add to Cart <i class="fas fa-shopping-cart "></i></a>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>